<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{titlename}}</title>
</head>
<body>
<h1> {{titlename}}</h1>
<p>
   {{upperCase home}}
</p>
<hr>
 {{> footer}}
</body>
</html>